<h1>Help</h1>
<hr/>

<div id="helps">
    {{#each items}}
        <section>
            <h3>{{this.name}}</h3>

            {{#each this.questions}}
                <div class="help collapsable">
                    <h4 class="help-question">
                        <a data-toggle="collapse" data-parent="#helps" href="#c-{{../code}}-q-{{@index}}" data-child="section > .collapsable"  >
                            {{this.question}}
                        </a>
                    </h4>
                    <div id="c-{{../code}}-q-{{@index}}" class="help-response collapse">
                        <p>{{#html this.response}}{{/html}}<p>
                    </div>
                </div>
            {{/each}}
        </section>
    {{/each}}
</div>
