{{view "location/select"}}
{{{partial 'basic/partials/search'}}}

<table width="100%" border="0" align="left" cellspacing="0" cellpadding="4">
	<tbody>
		{{#each items}}
			<tr>
	            <td style="border-top: solid thin #808080;">
	                <a style="display: block;" tabindex="1" href="/items/{{id}}">
	                	<small style="display: block;">
	                		{{#if thumbnail }}
	                			*
	                		{{/if}}
	                    	{{title}} - {{price.displayPrice}}
	                	</small>
	                </a>
	            </td>
	        </tr>
        {{/each}}
	</tbody>
</table>
<table width="100%" border="0" align="left" cellspacing="0" cellpadding="4">
	<tbody>
		<tr>
			{{#if metadata.previous}}
				<td style="text-align: left;">
					<a href="{{metadata.previous}}">Previous</a>
				</td>
			{{/if}}
			{{#if metadata.next}}
				<td style="text-align: right;">
					<a href="{{metadata.next}}">Next</a>
				</td>
			{{/if}}
		</tr>
	</tbody>
</table>
