<h2>{{item.title}}</h2>
<h3>{{item.price.displayPrice}}</h3>

{{#each item.images}}
	<img src="{{url}}"></br></br>
{{/each}}
</br>

{{{item.description}}}

<a href="/items?categoryId={{item.category.id}}&location={{location}}&relatedAds={{item.id}}">Related Ads</a>