<h2>{{item.title}}</h2>
<h3>{{item.price.displayPrice}}</h3>

{{#each item.images}}
	<img src="{{url}}"></br></br>
{{/each}}
</br></br>

{{{item.description}}}</br></br>

{{#each item.optionals}}
	{{label}}: {{value}}</br>
{{/each}}
</br>
<form action="{{#if user}}/items/{{item.id}}/favorite{{else}}/registration{{/if}}"{{#if user}} method="POST"{{/if}}>
	<input type="submit" value="Add to Favorites"{{#if user}}{{#if item.isFavorite}} disabled{{/if}}{{/if}}>
</form>
<br />
<a href="/items/{{item.id}}/reply">Reply</a>
<br />
<a href="/items?categoryId={{item.category.id}}&location={{location}}&relatedAds={{item.id}}">Related Ads</a>