<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		{{#layout template '/partials/head'}}
			{{{partial layout}}}
		{{/layout}}
	</head>
	<body>
		{{{view "header/index"}}}
		{{#layout template '/partials/search'}}
			{{{partial layout}}}
		{{/layout}}
		{{{body}}}
		{{view "footer/index"}}
	</body>
</html>
