<h1>Rendr POC - OLX Browser</h1>
<p>This is a little app that demonstrates how to use Rendr by consuming SMAUG's public Api.</p>
<p>Check out the <a href="/categories?location=www.olx.com.ar&languageId=2">Categories</a></p>

<div class="home-page">

	<section id="location" class="location">
		<span>Buenos Aires</span>
	</section>

	<section class="whats-new">
		<h3>What's new</h3>
		<div id='whats-new-slider' class='swipe'>
		  <div class='swipe-wrap'>
		  	{{#each whatsNewCollection.models.0.attributes.data}}
			  <div>
			    <a href="/items/{{id}}"><img src="{{thumbnail}}">{{title}} - {{price.displayPrice}}</a>
			  </div>
			{{/each}}
		  </div>
		</div>
	</section>

	<section class="last-visited">
		<h3>Last visited</h3>
		<div id='last-visited-slider' class='swipe'>
		  <div class='swipe-wrap'>
		  	{{#each lastVisitedCollection.models.0.attributes.data}}
			  <div>
			    <a href="/items/{{id}}"><img src="{{thumbnail}}">{{title}} - {{price.displayPrice}}</a>
			  </div>
			{{/each}}
		  </div>
		</div>
	</section>

</div>