<!doctype html>
<html>
	<head>
	    {{{partial "desktop/partials/head"}}}
	</head>
	<body>
		{{{partial "desktop/partials/header"}}}
		<article>
	  		{{view "left-panel/index"}}
			<div id="content">
				{{{body}}}
			</div>
		</article>
		<script src="/mergedAssets.js"></script>
		<script>
			(function() {
				var App = window.App = new (require('app/app'))({{json appData}});
				App.bootstrapData({{json bootstrappedData}});
				App.start();
			})();
		</script>
	</body>
</html>
