{{#with item}}
	
<section id="itemPage">
	<div class="swiper-containerItem">
		<div class="swiper-wrapper">
			{{#each images}}
			  <div class="swiper-slide"> 
					<div class="slide">
			          <div style="background-image: url('{{url}}');"></div>
			        </div>
				</div>
			{{/each}}
		</div>
		<div class="slidePagination"></div>
	</div>

	<h1>{{price.displayPrice}}</h1>
	<div class="clear"></div>
</section>

	<!--h2>{{title}}</h2>
	

	{{{description}}}

	<a href="/items?categoryId={{category.id}}&location={{../location}}&relatedAds={{id}}">Related Ads</a-->
{{/with}}
