<section id="itemPage">
	{{#if item.images}}
		{{#ifC item.images.length '==' 1}}
			<div class="onePicture">
				<div class="slide">
		          <div style="background-image: url('{{item.images.0.url}}');"></div>
		        </div>
			</div>
		{{else}}
		<div class="swiper-containerItem">
			<div class="swiper-wrapper">
				{{#each item.images}}
				  <div class="swiper-slide"> 
						<div class="slide">
				          <div style="background-image: url('{{url}}');"></div>
				        </div>
					</div>
				{{/each}}
			</div>
			<div class="slidePagination"></div>
		</div>
		{{/ifC}}
	{{else}}
		<div class="noPicture">
			<span></span>
			<p>No hay fotitos!!</p>
			<div class="clear"></div>
		</div>
	{{/if}}
	<span>{{item.location.cityName}}</span>
	<h1>{{item.price.displayPrice}}</h1>
	<p class="desc">{{{item.description}}}</p>
	
	<ul id="optionals">
		{{#each item.optionals}}
			<li>{{label}}: <strong>{{value}}</strong></li>
		{{/each}}
	</ul>
	{{#if item.coordinates }}
		<img style="width:100%" src="http://maps.googleapis.com/maps/api/staticmap?center={{item.coordinates.latitude}},{{item.coordinates.longitude}} ?>&zoom=14&size=320x100&markers={{item.coordinates.latitude}},{{item.coordinates.longitude}}&sensor=false">
	{{/if}}
    {{#if user}}
        <form method="post" action="/items/{{item.id}}/favorite/{{#if item.isFavorite}}delete{{else}}add{{/if}}">
    {{else}}
        <form method="get" action="/registration">
    {{/if}}
        <p class="item-action-favorite">
            {{#if item.isFavorite}}
                <input type="image" src="{{#static '/images/favorite_s.png'}}{{/static}}" alt="Submit" class="item-actions-favorite" >
            {{else}}
                <input type="image" src="{{#static '/images/favorite_u.png'}}{{/static}}" alt="Submit" class="item-actions-favorite" >
            {{/if}}
        </p>
    </form>

	<div class="clear"></div>
</section>

<section id="actions">
	<div class="background"></div>
	<span>
		{{#if item.user.username}}
			{{#if phone}}
				{{item.user.username}} : {{phone}}
			{{else}}
				{{item.user.username}}
			{{/if}}
		{{else}}
			{{#if item.phone}}
				{{item.phone}}
			{{/if}}
		{{/if}}
	</span>
	{{#if item.phone}}
		<div class="action call trackMe" data-tracking="itemPage-clickCall">
			<a href="tel:{{item.phone}}" >
				<span>Call</span>
			</a>
		</div>
		<div class="action sms trackMe" data-tracking="itemPage-clickSms">
			<a href="sms:{{item.phone}}" >
				<span>SMS</span>
			</a>
		</div>
	{{/if}}
	<div class="action email {{#unless item.phone}}fullWidth{{/unless}} trackMe" data-tracking="itemPage-clickEmail">
		<div>
			<span>EMAIL</span>
		</div>
	</div>
	<div class="clear"></div>
</section>


<!--a href="/items?categoryId={{item.category.id}}&location={{location}}&relatedAds={{item.id}}">Related Ads</a-->
