<section id="newAds">
	<h2>{{dictionary.newAds_prefix}}{{#if location.city }}{{location.city.name}}{{else}}{{location.name}}{{/if}}</h2>
	<div class="swiper-containerAds">	
		<div class="swiper-wrapper">
			{{#each whatsNewItems}}
				
				<div class="swiper-slide"> 
					<a href="/change-this-description-for-the-item-iid-{{id}}" >
						<div class="slide">
				        	<div style="background-image: url('{{thumbnail}}');"></div>
				        </div>
				        <div class="caption">{{date.since}}<br><span>{{price.displayPrice}}</span></div>
				    </a>
				</div>
				
			{{/each}}
		</div>
	</div>
</section>

<section id="categories">
	<h2>{{dictionary.categories_title}}</h2>
	<div class="swiper-containerCats">	
		<div class="swiper-wrapper">
			{{#each categories.models}}
				<div class="swiper-slide"> 
					<a href="/change-this-description-for-the-category-cat-{{id}}?location={{../siteLocation}}" >
						<div class="slide">
				          <div class="home-{{id}} color">
				          	<p>{{trName}}</p>
				          </div>
				        </div>
			        </a>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<section id="postAd">
	<div>
		<h1>{{dictionary.postAd_prefix}}<strong>{{dictionary.postAd_strong}}</strong>{{dictionary.postAd_suffix}}</h1>
		<a href="/posting">{{dictionary.postAd_button}}</a>
	</div>
</section>

<section id="adWare">
	<div class="ad l">
		<div class="adC">
			<img src="http://afs.googleusercontent.com/olx/olx_es.png" class="adIcon">

			<div class="adD">
				<div class="adStd threeLine">
					<div>
						<a target="_blank" class="titleLink" href="" id="e7">
							<span dir="ltr">Rack y estanterias - rack-estant.com</span>&lrm;
						</a>
					</div>
					<span class="descText">
						<span dir="ltr">Fabrica - Amplia Financiacion todo el pais - Llamenos hoy !</span>&lrm;
					</span><br>
					<a target="_blank" class="domainLink" href="" id="e8">
						<span dir="ltr">www.rack-estant.com/</span>&lrm;
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="location">
	{{view "location/select"}}
</section>

<section id="languages">
	{{#layout template '/partials/languages'}}
		{{partial layout}}
	{{/layout}}
</section>
