<div class="home" id="content">
    <ul class="categories parent-cat">
    	{{#each categories.models}}
			<li{{#eq @index 0}} class="border-none"{{/eq}}>
				<a href="categories/{{id}}?location={{../siteLocation}}">
					<img src="{{#static '/images/icons/html4/{{id}}.png' '{{id}}' id}}{{this}}{{/static}}">
					<span>{{trName}}</span> 
				</a>
			</li>
		{{/each}}
	</ul>
</div>
