<section id="postAd">
	<div>
		<h1>Make <strong>easy money</strong> by selling stuff you no longer need!</h1>
		<a href="/posting">Post an Ad</a>
	</div>
</section>

<section id="newAds">
	<h2>New ads in Cape Town</h2>
	<div class="swiper-containerAds">	
		<div class="swiper-wrapper">
			{{#each whatsNewItems}}
				<div class="swiper-slide"> 
					<div class="slide">
			          <div style="background-image: url('{{thumbnail}}');"></div>
			        </div>
			        <div class="caption">7 min ago<br><span>{{price.displayPrice}}</span></div>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<section id="categories">
	<h2>Popular Categories</h2>
	<div class="swiper-containerCats">	
		<div class="swiper-wrapper">
			{{#each categories.models}}
				<div class="swiper-slide"> 
					<div class="slide">
			          <div class="home-{{id}} color">
			          	<span></span>
			          	<p>{{trName}}</p>
			          </div>
			        </div>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<section id="location">
	{{view "location/select"}}
</section>
