{{#eq platform "enhanced"}}
	{{{partial "enhanced/partials/header"}}}
{{/eq}}

{{view "left-panel/index"}}

<section id="content" class="container">
  {{{body}}}
</section>

{{#eq platform "enhanced"}}
	{{{partial "enhanced/partials/footer"}}}
{{/eq}}

<script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>
</body>
</html>