 <div id="menu">
	{{view "categories/menu"}}
 </div>
 <div id="main">
	<section id="location">
		{{view "location/select"}}
	</section>
	<section id="newAds">
		{{#each whatsNewItems}}			
			<div class="listItem">
				<div class="listItemContainer listItemContainerImage">
					<img class="listItemImage" src="{{thumbnail}}">
				</div>
				<div class="listItemContainer listItemContainerData">
					<div class="listItemData">
						<a class="listItemTitle" href="items/{{id}}">{{title}}</a>
					</div>
				</div>
				<div class="listItemContainer listItemContainerPrice">
					<div class="listItemPrice">
						<strong>{{price.displayPrice}}</strong>
					</div>
				</div>
				<div class="listItemContainer listItemContainerDate">
					<div class="listItemDate">
						<small>{{date.since}}</small>
					</div>
				</div>
			</div>
		{{/each}}
	</section>
</div>